body {
  text-align: center;
  background:linear-gradient(#f78f44,#80929f);
}



.bttn{
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6)
  border 1px solid brown;
  background-color: #f77f50;
  
}

.h1{
  box-shadow: 0 10px 70px rgba(88,99,99,0.9)
  font-size:5rem;
  color: #fff1e0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

@media only screen and (max-width: 800px){
  
.btn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}
  }


.game-over {
  background:linear-gradient(#11ff22,#ff1177,#4411ff);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
